/*regole header*/
header .sony {
    background-color: black;
}
header .sonylogo {
    max-width: 70px;
}

main {
    margin-top: 98px;
}

/*sezione jumbotron*/
#jumbotron .my_container {
    background-image:url(../img/jumbo-bg.png);
    height: 600px;
    background-size: cover;
    background-position: center;
}


/*sezione PS5*/




/*sezione takestwo*/
#takestwo .my_container {
    background-image:url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
}

/*sezione news*/
#news {
    padding: 50px 0px;
    background-color: black;
}

/*sezione PS4*/


/*sezione Plus*/
#plus .my_img {
    display: none;
}
#plus {
    background-color: rgb(185, 185, 185);
}
#plus .card {
    background-color: rgb(185, 185, 185); 
}
#plus .btn {
    color: var(--primary-color);
}

@media all and (min-width: 768px) {
    #plus .my_img {
        display: block;
    }
}

/*sezione sconti*/


/*sezione Now*/
#Now .my_img {
    display: none;
}
#Now {
    background-color: rgb(0, 0, 36);
}
#Now .card {
    background-color: rgb(0, 0, 36);
}

@media all and (min-width: 768px) {
    #Now .my_img {
        display: block;
    }
}

/*sezione social*/
