/*regole header*/
.debug .sony {
    background-color: chocolate;
}

/*sezione jumbotron*/
.debug .my_container {
    background-color: aqua;
    height: 600px;
    width: 100%;
}
.debug .jumbo_info {
    background-color: blue;
    height: 40%;
}

/*sezione PS5*/
.debug #PS5 .my_card {
    background-color: brown;
    height: 50px;
}
.debug #PS5 .my_text {
    background-color: darkgoldenrod;
    height: 150px;
}
.debug #PS5 .my_img {
    background-color: darksalmon;
    height: 150px;
}

/*sezione takestwo*/


/*sezione news*/
#news {
    padding: 50px 0px;
    background-color: black;
}

/*sezione PS4*/
.debug #PS4 .my_text {
    height: 50px;
    background-color: deeppink;
    
}

/*sezione Plus*/
#plus .my_img {
    background-color: lawngreen;
    visibility: hidden;
}

@media all and (min-width: 768px) {
    #plus .my_img {
        visibility: visible;
    }
}

/*sezione sconti*/
.debug #sconti .my_text {
    height: 50px;
    background-color: deeppink;
    
}
.debug #sconti .my_img {
    background-color: darksalmon;
    height: 150px;
}
/*sezione Now*/
#Now .my_img {
    background-color: lawngreen;
    visibility: hidden;
}

@media all and (min-width: 768px) {
    #Now .my_img {
        visibility: visible;
    }
}